/*
 - extending style 4 to have some images be larger than others 
   (they take up 2 colums and rows)
*/

body {
    width :100%;
    height: 20%;
    margin-top: 120px;
    padding:0;
   background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://kalochoritis.github.io/126844_00_2x.jpg);
    background-size: cover;
    background-position: center center;
    text-align:center;
    
    font-family: Quicksand;
  font-family: "Sans-serif",sans-serif,arial;
    padding: 0;
    color: #fff;
    /*background: linear-gradient(0,#281130 50%,#030133);*/
    
}
section {
  padding: 20vh 0;
    z-index:0;
}



.one {
  background: indianred;
  position:fixed;
    width: 100%;
 height:  325px;
display:block;
    top:-250px;
    overflow: hidden;
     transform: translate(-0%);
  object-position: 50% 50%;
    z-index: 0;
    margin-left: -10px;
    margin-right:-10px;
    margin-top:-10px;
    
    
    
}

/* Header/Logo Title */
.header {
  
  position: fixed;
 top:4px;
right:45%;
    font-size: 10px;
    display:block;
  color: white;
    z-index: 1;
}
 
.bodyo{
    position: relative;
    color: white;
    
}





form{
    position: fixed;
    top:10px;
    left: 50%;
    transform: translate(-50%);
    transition: all 1s;
    width: 500px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    display:inline-block;
    z-index:1
}

input{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    z-index:1;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    z-index:1;
}



form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}



       
    










/*****************************************
 design styles
******************************************/
html {
   

   font-size: 12px;
 
   text-align: center;
   
}



figure {
  
  display:inline-block;
  vertical-align:top;
  border:solid gray;
  text-align:center;
  position:relative;
  padding-bottom:2.8em;
    border-radius: 5%;
    border:50px;
}
figure img {
  display:block;
  border-radius: 5%;
    width: 300px;
    height: 170px;
    font-family: "roboto";
  
    

      
}
figure img:hover{
    width: 305px;
    height: 175px;
}

figcaption{
   background:#CD5C5C;   
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  box-sizing: border-box;
    border-radius: 0px;
    border: 4px solid #CD5C5C;
    padding: 5px;
  opacity:1;
  transition:0.5s;

}
figcaption p {
  margin:0;
}
 gridimg2 {
display: grid;
  min-width:560px;
  max-width:840px;
  margin:auto;
    grid:5px;
}


#gridimg2 figure {
  padding:0px;
     
}
#gridimg2 figure:hover figcaption {
  opacity:0;
}
.function{
    position: fixed;
    z-index: :1;

    
    
}
